$icons: (
  youtube-play: "\e906",
  twitter: "\e907",
  linkedin: "\e908",
  facebook: "\e909",
  facebook-f: "\e909",
  arrow-right: "\e905",
  arrow-up: "\e90a",
  badge-globe: "\e90b",
  badge-location: "\e90c",
  badge-wri: "\e90d",
  magnify: "\e90e",
  plus: "\e90f",
  user: "\e910",
  plus-circle-solid: "\e903",
  times-solid: "\e904",
  angle-double-right-solid: "\e902",
  eye-regular: "\e900",
  book-reader-solid: "\e901",
  angle-down: "\e911",
  hamburger: "\e912",
  vimeo: "\e914",
) !default;
