@import '../_tools/functions';

$font-size-default: 16px;

$font-header: 'Lato', sans-serif;
$font-body: 'Merriweather', serif;


// Bootstrap overrides
$font-family-base: $font-body;
$headings-font-family: $font-header;

$dropdown-border-radius: 0;
$dropdown-border-color: get-gray(2);
$dropdown-bg:  $blue-d;
$dropdown-link-color: white;
$dropdown-link-hover-bg: $nav-link-hover-color;
$dropdown-link-hover-color: white;
$dropdown-link-active-bg: darken($nav-link-hover-color, 5%);

$map-sidebar-width: 515px;
$map-container-padding: 10px;
