@import '../_tools/functions';

$font-size-default: 16px;

$font-header: 'Lato', sans-serif;
$font-body: 'Merriweather', serif;


// Bootstrap overrides
$font-family-base: $font-body;
$headings-font-family: $font-header;

$dropdown-border-radius: 0;
$dropdown-border-color: get-gray(2);
$dropdown-bg:  $blue-d;
$dropdown-link-color: white;
$dropdown-link-hover-bg: $nav-link-hover-color;
$dropdown-link-hover-color: white;
$dropdown-link-active-bg: darken($nav-link-hover-color, 5%);

$map-sidebar-width: 515px;
$map-container-padding: 10px;

// Zoom controls
$map-controls-index: 10;
$space-1: 16;
$color-white: #fff;
$animation-time: .16s;
$border-color-2: rgba(202,204,208,.85);
$color-text-1: #393f44;

// Popup
$font-weight-bold: 700;
$color-primary: #c32d7b;

// Search control
$charcoal-grey: #393f44;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$white: #ffffff;
