dist: xenial
language: ruby
cache:
  bundler: true
  directories:
    - vendor/bundle
    - node_modules
    - /home/travis/.rvm/
    - /home/.cache/yarn
addons:
  postgresql: "11.3"
  chrome: stable

before_install:
  - sudo apt-get update
  - sudo apt-get --yes remove postgresql\*
  - sudo apt-get install -y postgresql-11 postgresql-client-11
  - sudo cp /etc/postgresql/{9.6,11}/main/pg_hba.conf
  - sudo service postgresql restart 11

services:
  - postgresql

script:
  - bin/ci-build
