@import '../../helpers';

.c-card--16-9 {
  position: relative;
  background-image: url('images/map_points.svg');
  &::after {
    content: '0';
    position: absolute;
    top: space(2);
    right: space(2);
    color: red;
  }
}

.c-card--16-9 h1 {
  position: absolute;
  padding: space(2);
  color: white;
}

.c-card--16-9 h1,
.c-card--16-9 .c-card__text {
  color: white;
}
