@import '../../helpers';

.c-card {
  position: relative;
  min-height: 300px;
  margin-bottom: space(6);
  border-radius: 0;
  border: 0;
  .c-card__text {
    color: black;
  }
}

.c-card__title {
  @include font-heading($color: white, $weight: 600, $size: 30px);
  text-transform: uppercase;
  white-space: nowrap;
}

.c-card__watermark {
  display: block;
  width: 50%;
  margin: 0 auto;
  opacity: .4;
  margin-bottom: space(4);
  transition: .1s opacity ease-in-out;
}

.c-card__content {
  display: flex;
  flex-direction: column;
}

.c-card__image-top {
  img {
    max-height: rem(150px);
    width: 100%;
    object-fit: cover;
  }
  &::before {
    content: '';
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
