@import '../../helpers';

$watermarks: (
  'badge-globe',
  'badge-location',
  'badge-location',
  'badge-wri',
  'badge-location',
);

.c-card--16x9 {
  @include card-action($content: get-icon-char('magnify'), $color: black);
  position: relative;
  background-image: url(asset-path('map_points.svg'));
  background-size: 95%;
  background-position: 5% -5%;
  background-repeat: no-repeat;
  border: 2px solid $blue-l;
  @for $i from 1 through length($theme) {
    $color: nth($theme, $i);
    &-#{$i} {
      .c-card__title {
        background: $color;
      }
      .c-card__watermark::before {
        color: $color;
        content: get-icon-char(nth($watermarks, $i));
      }
      &:hover {
        border: 2px solid $color;
      }
      &::after {
        color: $color;
      }
    }
  }
  .c-card__watermark::before {
    will-change: transform;
    transition: .05s transform ease-in-out;
  }
  &:hover,
  &:focus {
    .c-card__watermark::before {
      transform: scale(1.4);
      transform-origin: center;
    }
  }
}

.c-card--16x9 .c-card__title {
  position: absolute;
  padding: space(2) space(4);
  color: white;
  bottom: 0;
  left: 0;
  margin: 0;
}

.c-card--16x9 .c-card__watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  &::before {
    opacity: 1;
    width: auto;
    font-size: 100px;
  }
}

.c-card--16x9 .c-card__title,
.c-card--16x9 .c-card__text {
  color: white;
}
