@import '../../helpers';

.c-card--headline {
  @include card-action($content: '');
  box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
  min-height: auto;
  @for $i from 1 through length($theme) {
    $color: nth($theme, $i);
    &-#{$i} {
      .c-card__title {
        border-bottom: 3px solid $color;
      }
      &:hover {
        .c-card__image-top {
          &::before {
            background: rgba($color, .2);
          }
        }
      }
    }
  }
}

.c-card--headline .c-card__content {
  justify-content: flex-start;
  margin-bottom: space(2);
  padding: space(4) space(6);
}

.c-card--headline .c-card__title,
.c-card--headline .c-card__text {
}

.c-card--headline .c-card__title {
  @include font-body($weight: 700, $color: black, $size: rem(20px));
  text-transform: none;
  padding-bottom: space(1);
  margin-bottom: space(3);
}

.c-card--headline .c-card__text {
  font-weight: 500;
}

.c-card--headline .c-card__text p {
  margin-bottom: space(4);
}

.c-card__credit {
  font-weight: 800;
}

.c-card__image-top {
  position: relative;
  display: block;
}
