@import '../../helpers';

.c-card--headline {
  @include card-action($content: '');
  position: relative;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
  min-height: 20vw;
  margin-left: 0;
  margin-right: 0;
  @for $i from 1 through length($theme) {
    $color: nth($theme, $i);
    &-#{$i} {
      &:hover {
        .c-card__image-top {
          &::before {
            background: transparent;
          }
        }
      }
    }
  }
}

.c-card--headline .c-card__content {
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, rgba(0,0,0,0.75) 15%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.75) 100%);
  position: relative;
  justify-content: flex-start;
  margin-bottom: 0;
  padding: space(4) space(4);
  z-index: 1;
}

.c-card--headline .c-card__title {
  @include font-heading($weight: 500, $color: white, $size: rem(18px));
  border-bottom: 0;
  padding-bottom: 0;
  text-transform: none;
  margin-bottom: space(1);
  white-space: normal;
}

.c-card--headline .c-card__credit {
  @include font-heading($weight: 400, $color: white, $size: rem(16px));
  margin-bottom: space(1);
  font-style: italic;
  font-size: rem(14px);
}

.c-card--headline .c-card__text {
  font-weight: 500;
}

.c-card--headline .c-card__text p {
  margin-bottom: space(4);
}

.c-card--headline .c-card__text p {
  margin-bottom: space(4);
}

.c-card__categories {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  & .c-card__category {
    margin: 3px
  }
}

.c-card__category {
  @include font-heading($weight: 400, $color: black, $size: rem(12px));
  display: inline-block;
  background: white;
  padding: 2px 8px;
  border-radius: 1rem;
}

.c-card__credit {
  font-weight: 800;
}

.c-card__image-top {
  position: absolute;
  display: block;
  inset: 0;
  & > img {
    width: 100%;
    height: 100%;
    max-height: unset;
    object-fit: cover;
    object-position: top;
  }
}
