@import '../../helpers';

.c-card--action {
  @include card-action($content: '');
  box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
  min-height: auto;
  @for $i from 1 through length($theme) {
    $color: nth($theme, $i);
    &-#{$i} {
      .c-card__title {
        background-color: $color;
      }
      .c-card__link {
        color: $color;
      }
      .c-card__link:hover {
        color: $brown;
      }
    }
  }
}

.c-card--action .c-card__content {
  min-height: 100px;
  padding: 0;
  padding-bottom: space(4);
  align-items: center;
  justify-content: center;
}

.c-card--action .c-card__title,
.c-card--action .c-card__text {
}

.c-card--action .c-card__title {
  padding: space(6);
  margin-bottom: space(3);
  text-align: center;
  @include media-breakpoint-between(lg, xl) {
    font-size: 25px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 30px;
  }
}

.c-card--action .c-card__text { }

.c-card--action .c-card__link {
  transition: .05s transform ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    transform: scale(1.2);
  }
}
