@import '../../helpers';

.c-card {
  position: relative;
  min-height: 300px;
  border-radius: 0;
  border: 0;
  .c-card__text {
    color: black;
  }
  &:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 50px 5px rgba(0,0,0,.2);
    transition: .1s;
    .c-card__watermark {
      opacity: 1;
    }
    &,
    .c-card__content,
    .c-card__title,
    .c-card__text {
      text-decoration: none !important;
    }
  }
}

.c-card__title {
  @include font-heading($color: white, $weight: 600, $size: 30px);
  text-transform: uppercase;
  white-space: nowrap;
}

.c-card__watermark {
  display: block;
  width: 50%;
  margin: 0 auto;
  opacity: .4;
  margin-bottom: space(4);
  transition: .1s opacity ease-in-out;
}

.c-card__content {
  display: flex;
  flex-direction: column;
}
