- if Rails.env.production? # || Rails.env.development?
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent','default',{
      'ad_storage':'denied',
      'analytics_storage':'denied',
      'ad_user_data':'denied',
      'ad_personalization':'denied',
      'personalization_storage':'denied',
      'functionality_storage':'granted',
      'security_storage':'granted',
      'wait_for_update': 500
    })
    gtag("set", "ads_data_redaction", true);
  /! Start GTM dataLayer initialization
  script src="https://cmp.osano.com/AzyfddTRtqi1560Dk/8f09cd07-e39e-42b5-9333-08196867bcbb/osano.js"
  javascript:
    dataLayer = [{
      'visitorType': '#{current_user.present? ? 'admin' : 'guest'}',
      'selectedRegion': null,
    }];
  /! End GTM dataLayer initialization

  /! Start Google Tag Manager
  javascript:
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WBG67HV');
  /! End Google Tag Manager

  script src="https://cse.google.com/cse.js?cx=56dbadaf07d6f487d"
- else
  javascript:
    dataLayer = [];
