- if Rails.env.production? # || Rails.env.development?
  /! Start GTM dataLayer initialization
  javascript:
    dataLayer = [{
      'visitorType': '#{current_user.present? ? 'admin' : 'guest'}',
      'selectedRegion': null,
    }];
  /! End GTM dataLayer initialization

  /! Start Google Tag Manager
  javascript:
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WBG67HV');
  /! End Google Tag Manager

  /! Start cookie consent notice
  link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"
  script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"
  javascript:
    window.addEventListener("load", function() {
      window.wpcc.init({
        "colors": {
          "popup": {
            "background": "#2e3348","text": "#ffffff","border": "#5f9f7c"
          },
          "button":{
            "background": "#5f9f7c","text": "#ffffff"
          }
        },
        "position": "bottom",
        "content":{
          "href": "https://waterpeacesecurity.org/info/privacy-policy",
          "message": "This website uses cookies to provide you with an improved" +
            " user experience. By continuing to browse this site, you consent" +
            " to the use of cookies and similar technologies.",
          "button": "I agree"
        },
        "transparency": "10"
      })
    });
  /! End cookie consent notice
  script src="https://cse.google.com/cse.js?cx=56dbadaf07d6f487d"
- else
  javascript:
    dataLayer = [];
