@import '../helpers';

.c-banner {
  height: rem(650px);
  max-height: 50vh;
  background: lightgray;
  position: relative;
}

.c-banner__lead {
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-banner__title {
  text-transform: uppercase;
  padding: space(5) space(10) space(5) space(5);
  background: white;
  color: #586671;
  flex: 0 0 auto;
  font-size: 2rem;
  line-height: 1;
}

.c-banner__title--sub {
  background: #592d20;
  color: white;
}
