@import '../helpers';

.c-event {
  background-color: $green-d;
  color: white;
}

.tag-checkboxes {
  input[type="checkbox"] {
    margin: 10px;
    margin-right: 5px;
    margin-left: 15px;
  }
  border: 1px solid #ced4da
}

.profile-image-div {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-card {
  max-width: 500px;
  min-width: 400px;
}

.profile-image-card-section {
  min-width: 150px;
  max-width: 180px;
  max-height: 180px;
  min-height: 150px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-data-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .h4 {
    color: $blue-d;
  }
  .description {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: grey;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
  .email {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: grey;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    margin-bottom: 8px;

    .email-icon {
      display: inline-block;
      background-color: $blue-l;
      border-radius: 50%;
      width: 25px;
      position: relative;
      height: 20px;
      margin-right: 3px;
      top: 5px;
      svg {
        position: absolute;
        top: 2px;
        left: 4px;
      }
    }
  }
  span {
    font-size: 0.75rem;
    color: white;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 3px;
  }
  span:nth-child(6n) {  background-color:  $blue-d;}
  span:nth-child(6n+1) { background-color:  $green-d;}
  span:nth-child(6n+2) { background-color:  $green-l;}
  span:nth-child(6n+3) { background-color:  $blue-l;}
  span:nth-child(6n+4) { background-color:  $green-d;}
  span:nth-child(6n+5) {  background-color:  $brown;}
}


