@import '../helpers';

.c-footer {
  background: #2b373b;
  padding-top: space(8);
  padding-bottom: space(8);
}

.c-footer__brand {
  color: white;
}

.c-footer--partners {
  background: white;
}

.c-footer--partners li {
  min-height: 50px;
  text-align: center;
}
