@import '../helpers';

.c-numbered-list {
  margin-bottom: 0;
  justify-content: space-evenly;
  padding-bottom: space(1);
  padding-top: space(1);
}

.c-numbered-list li {
  display: block;
  position: relative;
  counter-increment: inst;
  display: flex;
  align-items: center;
  color: $white;
  margin-right: space(3);
  padding-bottom: space(2);
  padding-top: space(2);
  @include font-heading($weight: 600, $size: 20px);
  text-transform: uppercase;

  &::before {
    min-height: 30px;
    min-width: 30px;
    margin-right: space(2);
    flex: 0 0 auto;
    @include font-heading($weight: 600, $size: 20px);
    content: counter(inst);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $green-l;
    color: #fff;
  }
}
