@import '../helpers';

.team_members {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.profile-card {
  width: 350px;
}

.team_members_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}