@import '../helpers';

.c-text {
  @include font-body($size: 14px, $color: black, $lh: (16/14));
}

.c-text--lead {
  font-size: 22px;
  line-height: (30/22);
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: (36/26);
  }
}
