@import '../helpers';

.c-text {
  @include font-body($size: 14px, $color: black, $lh: (16/14));
}

.c-text--lead {
  color: $gray-800;
  font-size: 18px;
  line-height: (32/18);
  margin-bottom: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: (32/20);
    max-width: 70ch;
  }
}
