.clamp-after-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fade-after-two-lines {
  position: relative;
  height: 2.4em; /* exactly two lines */
}
.fade-after-two-lines:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right,rgba(244, 244, 244, 0), rgba(244, 244, 244, 1) 75%);
}
