// Source:
// https://github.com/resource-watch/resource-watch/blob/develop/css/components/map/map-controls.scss

@import '../../assets/stylesheets/website/_settings/variables.scss';

$button-size: 30px;

.wri_api__c-map-controls {
  position: absolute;
  top: 20px;
  right: $map-sidebar-width;
  z-index: $map-controls-index;

  &.-embed {
    top: $space-1 * 2 !important;
    right: $space-1 * 2 !important;
  }

  &.-left {
    top: $space-1 * 2;
    left: $space-1 * 2;
    right: auto;
  }

  .wri_api__map-controls-list-item {
    button {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: $button-size;
      height: $button-size;
      outline: none;
      border: none;
      border-radius: 4px;
      background-color: $color-white;
      transition: background-color linear $animation-time;
      &:not(:first-child) {
        border-top: 1px solid $border-color-2;
      }
      &:hover {
        background-color: darken($color-white, 5%);
      }
      &.-disabled {
        pointer-events: none;
        opacity: 0.25;
      }
      >svg {
        fill: $color-text-1;
      }
    }
  }
}

.wri_api__c-legend-map-wrapper {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.wri_api__open-legend.wri_api__-active {
  transform: translateY(-60px);
  overflow: visible !important;
}

.wri_api__c-legend-map {
  background: none;
  border: 0;
}

.wri_api__c-legend-map .wri_api__close-legend {
  border-radius: 50px;
  border: 2px solid $green-d;
  color: white;
  left: 15px;
  right: 15px;
  font-family: 'Merriweather, sans-serif';
  &:focus,
  &:hover {
    color: $green-l;
  }
}

.wri_api__c-legend-map .wri_api__toggle-legend {
  background: $green-d;
}
