- show_action_banner ||= show_action_banner.nil?

= render 'root/header'

= render 'page_content', page: page

- if show_action_banner && @action_items.present?
  = render 'root/landing/action_banner'
= render 'root/landing/footer'
