= javascript_pack_tag 'index'

- content_for :main_content do
  main#map-container.o-container--map

= render 'root/landing/page', show_footer: false
/ .map-credit
/   = image_tag 'resource_watch_logo.svg'
