// @param {Number} $value - Index of spacing unit
// @return {Number} - Spacing unit from bootstrap map
@function space($value, $negative: false) {
  $_value: map-get($spacers, $value);
  @if ($negative) {
    $_value: -($_value)
  }
  @return $_value;
}

// Remove the unit of a length
// Source: https://css-tricks.com/snippets/sass/strip-unit-function/
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// @param {Number} $pixel-size - Pixel Value to convert
// @return {Number} - Rem value
@function rem($pixel-size) {
  $rems: strip-unit($pixel-size) / strip-unit($font-size-default);
  @return #{$rems}rem;
}
