@mixin card-action($content: '', $color: white) {
  &:after {
    @include font-icon($white);
    content: $content;
    display: block;
    position: absolute;
    top: space(3);
    right: space(3);
    color: $color;
    font-size: 20px;
  }
}


@mixin font-icon($color: '') {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @if ($color != '') {
    color: $color;
  }
}

@mixin banner-title {
  text-transform: uppercase;
  padding: space(5) space(10) space(5) space(5);
  background: white;
  color: #586671;
  flex: 0 0 auto;
  line-height: 1;
  @include font-heading($size: 2rem, $weight: 900);
}
