@import '../helpers';

h1,
.h1 {
  @include primary-heading {
    color: $blue-d;
    font-weight: 900;
  }
}

h2,
.h2 {
  @include secondary-heading {
    color: $brown;
    font-weight: 900;
    text-transform: none;
    margin-bottom: space(2);
  }
}

h3,
.h3 {
  @include secondary-heading {
    color: get-gray(3);
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
  }
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

